@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Why Formula 1?</h1>
</div>
<div class="text-center"> 
    
    <h3>Fueled by Speed: My Passion for Formula 1</h3>
    <p>
        <br/><br/>
        There’s something electrifying about Formula 1 that keeps me coming back race after race. It’s more than just fast cars and roaring engines—it’s a perfect blend of technology, strategy, and pure skill. Every race is a high-stakes chess match played at over 200 mph, where milliseconds determine victory or defeat. The sport’s innovation, from cutting-edge aerodynamics to real-time data analysis, aligns with my passion for technology and problem-solving. Watching a team execute the perfect pit stop or seeing a driver push the limits of physics through a tight corner is just as thrilling as writing efficient code or solving a complex business challenge.
        <br/><br/>
        Beyond the technical side, I love the human drama that unfolds each season. The rivalries, the unpredictable weather, the split-second decisions—every race tells a new story. Whether it’s an underdog fighting their way to the podium or a dominant team trying to maintain its edge, there’s always a lesson to be learned about perseverance and adaptability. I admire drivers like Fernando Alonso for their tenacity, and teams like Mercedes or Red Bull for their relentless pursuit of excellence.
        <br/><br/>
        Formula 1 isn’t just a sport for me; it’s an inspiration. It represents pushing boundaries, embracing innovation, and striving for constant improvement—values that I apply in my own life. Whether it’s in my studies, my projects, or my career aspirations, I aim to take the same analytical and strategic approach that F1 teams do on race day. The pursuit of speed and precision in Formula 1 mirrors my own drive to refine my skills and tackle new challenges.
    </p>
    <img src="~/img/converted_imageF1Night.jpeg" height="400" width="600"></img>
    <img src="~/img/2024-F1_rd21_SaoPaulo_0001_R_Max_Verstappen_L-medium.jpg"  height="400" width="600"></img>
</div>